button, div.send-scores {
  background: #EEE;
  border: 1px solid black;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px 0;
  width: 200px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

div.send-scores.disabled {
  background: white;
  border-color: #CCC;
  color: #CCC;
}

  div.send-scores.disabled a {
    color: #CCC;
  }

.player-row {
  display: flex;
}

  .player-row label {
    flex: 0 0 auto;
  }

  .player-row input {
    flex: 1 1 auto;
  }

  .player-row select {
    flex: 1 1 auto;
  }

  :not(:first-child) {
    margin-left: 10px;
  }

table.game {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
  table.game caption {
    font-weight: bold;
    text-align: left;
  }

  table.game td {
    border: 1px solid #CCC;
    overflow: hidden;
  }

    table.game td select {
      width: calc(100% + 20px);
    }

      table.game td select option {
        text-align: center;
      }

div.status-message {
  margin-top: 20px;
}

  div.status-message.success {
    color: green;
  }

  div.status-message.error {
    color: red;
  }
